/* @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap'); */
 
body {
	font-family: "Jua";
}
.header {
	position:fixed;
	top:0;
	width:100%;
	/* height: 40px; */
	display:flex;
	flex-direction:row;
	flex-flow: wrap;
	justify-content: center;
	/* align-items: center; */
	text-align:center;
	z-index: 99999;
	/* background-color: #0c052e; */
	background-color: #30A6E6;
}
/* .header.dark {
	background-color: #0c052e;
}
.header.light {
	background-color: #eef;
} */
.sub-menu {
  /* margin: 50px; */
  /* margin-top: -20px; */
}

.sub-menu ul {
  overflow: auto;
  list-style-type: none;
  overflow-y: hidden;  
  padding-left: 0;
	background-color: #0c052e;
}
.sub-menu.dark ul {
	background-color: #0c052e;
}
.sub-menu.light ul {
	background-color: #eef;
}

.sub-menu li {
  height: 24px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  /* padding: 0 20px;
  padding: 0 10px; */
  padding: 0 5px;
  
  /* display: flex;
  align-itrems: center;
  justify-content: center; */
}

.sub-menu li:last-child {
  border-right: none;
}

.sub-menu li a {
  text-decoration: none;
  color: #aaa;
  /* font: 25px/1 Helvetica, Verdana, sans-serif; */
  font-size:24px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
}

.sub-menu li a:hover {
  color: #666;
}

.sub-menu li.active a {
  font-weight: bold;
  color: #333;
}
.white li.active a {
  font-weight: bold;
  color: #fff;
}




.button {
      display: inline-block;
      position: relative;
      width: 120px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.9em;
      background-color: #fff;
      color: #646464;
    }
    
    .button > paper-ripple {
      border-radius: 2px;
      overflow: hidden;
    }
    
    .button.green {
      background-color: #0f9d58;
      color: #fff;
    }
	
	.button.purple {
      background-color: #c850c0;
      color: #fff;
    }
    
    .button.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    
    .button.raised:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
    }
	
	

.wrapper .input-data{
  height: 40px;
  width: 100%;
  position: relative;
}
.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
  outline: none;
  box-sizing: border-box;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-40px);
  font-size: 15px;
  color: #c850c0;
  outline: none;
  box-sizing: border-box;
}
.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.input-data .underline{
  position: absolute;
  top:67px;
  height: 5px;
  width: 100%;
  bottom: 0;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #c850c0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




input[type="radio"] {
	display: none;
}

input[type="radio"]+label {
	font-weight: 400;
	font-size: 24px;
	cursor: pointer;
	color: #fff;
	margin-right: 10px;
}

input[type="radio"]+label span {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: -12px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid #ffffff;
}

input[type="radio"]+label span {
	background-color: #fff;
}

input[type="radio"]:checked+label {
	color: #a3f307;
	font-weight: 600;
}

input[type="radio"]:checked+label span {
	background-color: #a3f307;
	border: 2px solid #ffffff;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
}

input[type="radio"]+label span,
input[type="radio"]:checked+label span {
	-webkit-transition: background-color 0.24s linear;
	-o-transition: background-color 0.24s linear;
	-moz-transition: background-color 0.24s linear;
	transition: background-color 0.24s linear;
}

input[type="checkbox"]+label {
	/* color:#ccc; */
	color:#555;
	margin-right: -10px;
}

input[type="checkbox"]:checked+label {
	color:#30A6E6;
	margin-right: -10px;
}
input[type="checkbox"]:disabled+label {
	color:#ccc;
	margin-right: -10px;
}



/* ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: -6px;
  display: none;
  border: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  overflow: visible;
  border: none;
}

ul li ul li {
  clear: both;
  width: 100%;
  margin-top: 8px;
} */


.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
}
.dropdownmenu ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: #30A6E6;
	color: #FFFFFF;
	display: block;
	/* font: bold 12px/20px Jua;
	padding: 10px 25px; */
	font: bold 24px/30px Jua;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #000000;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: #DF4B05;
}
#submenu a {
	background-color:#000000;
}


.dropdownmenu li.active a {
	background: #000000;
}
#submenu li.active a {
	background: #DF4B05;
}
