
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.thumb_container{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items: center;
	margin: 0 auto;
	pointer-events: none;
	z-index:4;
}
.tier-thumb{
	display: none;
	/* width:480px;
	height:270px; */
	width:720px;
	height:405px;
    position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0.1em solid white;
	z-index:14;
	pointer-events: none;
}
.off_image{
	position: absolute;
	cursor: pointer;
}
.off_image:hover{
	transition: opacity .5s;
	opacity: 0;
}
.broad-title{
	display: none;
	/* width:480px;
	height:270px; */
	width:720px;
	height:405px;
    position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	font-family: Jua;
	font-size: 32px;
	text-align: center;
	color: #ffffff;
	/* text-shadow: 1px 1px #000000; */
	text-shadow: 0 1px 0 #db92b8, 0 2px 0 #bc7dc0, 0 3px 0 #9f4fa3, 0 4px 0 #862c92, 0 5px 0 #6f147b, 0 6px 0 #671070, 0 7px 0 #5c195d, 0 8px 0 #442452, 0 0 5px rgba(230, 139, 139, 0.05), 0 -1px 3px rgba(230, 139, 139, 0.2), 0 9px 9px rgba(230, 139, 139, 0.3), 0 12px 12px rgba(230, 139, 139, 0.3), 0 15px 15px rgba(230, 139, 139, 0.3);
	z-index: 99999;
}

in-height: 300px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  /* border: 1px solid #fff; */
  border: 2px solid #000;
}
.card {
  height: 190px;
  width: 150px;
  
  margin-bottom: 40px;
  
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  /* overflow: hidden; */
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  /* display: flex; */
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
  
  border: 2px solid #000;
  cursor: pointer;
  
}
.card00 {
  /* background: url("704642_415839_2333 (1).jpg") center center no-repeat; */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150px;
}
.card00:hover {
  /* background: url("704642_415839_2333 (1).jpg") left center no-repeat; */
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 300px;
}

.card0 {
  background: url("../img/basford/감스트.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1) brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card0:hover {
  background: url("../img/basford/감스트.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card0.onair {
  background: url("../img/basford/감스트.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}






.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}
h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.fa {
  opacity: 0;
  transition: opacity 1s;
}
.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-tier {
	position: absolute;
	top: 4px;
	left: 4px;
	font-size: 32px;
	font-weight:800;
	/* -webkit-text-stroke: 1px #ffffff; */
	text-shadow: 0px 0px 4px #ffffff;
}
.card-race {
	position: absolute;
	top: 38px;
	left: 6px;
	font-size: 24px;
	font-weight:800;
	/* -webkit-text-stroke: 1px #ffffff; */
	text-shadow: 0px 0px 4px #ffffff;
}
.card-title {
	position: absolute;
	top: 138px;
	left: 4px;
	font-size: 18px;
	font-weight:400;
	/* -webkit-text-stroke: 1px #ffffff; */
	text-shadow: 1px 1px 2px #ffffff;
}
.card-name {
	position: absolute;
	top: 160px;
	left: 4px;
	font-size: 24px;
	font-weight:600;
	/* -webkit-text-stroke: 1px #ffffff; */
	text-shadow: 0px 0px 4px #ffffff;
}


.card1 {
  background: url("../img/basford/도재욱.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card1:hover {
  background: url("../img/basford/도재욱.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card1.onair {
  background: url("../img/basford/도재욱.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card2 {
  background: url("../img/basford/이제동.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card2:hover {
  background: url("../img/basford/이제동.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card2.onair {
  background: url("../img/basford/이제동.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card3 {
  background: url("../img/basford/짭제.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card3:hover {
  background: url("../img/basford/짭제.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card3.onair {
  background: url("../img/basford/짭제.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card4 {
  background: url("../img/basford/임진묵.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card4:hover {
  background: url("../img/basford/임진묵.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card4.onair {
  background: url("../img/basford/임진묵.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card5 {
  background: url("../img/basford/배병우.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card5:hover {
  background: url("../img/basford/배병우.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card5.onair {
  background: url("../img/basford/배병우.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card7 {
  background: url("../img/basford/이승훈.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card7:hover {
  background: url("../img/basford/이승훈.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card7.onair {
  background: url("../img/basford/이승훈.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card8 {
  background: url("../img/basford/백동준.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card8:hover {
  background: url("../img/basford/백동준.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card8.onair {
  background: url("../img/basford/백동준.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card9 {
  background: url("../img/basford/하얀눈길.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card9:hover {
  background: url("../img/basford/하얀눈길.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card9.onair {
  background: url("../img/basford/하얀눈길.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card10 {
  background: url("../img/basford/랜딩.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card10:hover {
  background: url("../img/basford/랜딩.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card10.onair {
  background: url("../img/basford/랜딩.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card12 {
  background: url("../img/basford/이뀨.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card12:hover {
  background: url("../img/basford/이뀨.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card12.onair {
  background: url("../img/basford/이뀨.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card14 {
  background: url("../img/basford/오뀨.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card14:hover {
  background: url("../img/basford/오뀨.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card14.onair {
  background: url("../img/basford/오뀨.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card17 {
  background: url("../img/basford/무찌.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card17:hover {
  background: url("../img/basford/무찌.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card17.onair {
  background: url("../img/basford/무찌.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card18 {
  background: url("../img/basford/요닝.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card18:hover {
  background: url("../img/basford/요닝.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card18.onair {
  background: url("../img/basford/요닝.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card19 {
  background: url("../img/basford/구래햇살아.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card19:hover {
  background: url("../img/basford/구래햇살아.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card19.onair {
  background: url("../img/basford/구래햇살아.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card20 {
  background: url("../img/basford/양양.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card20:hover {
  background: url("../img/basford/양양.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card20.onair {
  background: url("../img/basford/양양.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card21 {
  background: url("../img/basford/라미.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card21:hover {
  background: url("../img/basford/라미.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card21.onair {
  background: url("../img/basford/라미.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card22 {
  background: url("../img/basford/김하율.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card22:hover {
  background: url("../img/basford/김하율.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card22.onair {
  background: url("../img/basford/김하율.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card24 {
  background: url("../img/basford/구성훈.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card24:hover {
  background: url("../img/basford/구성훈.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card24.onair {
  background: url("../img/basford/구성훈.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card25 {
  background: url("../img/basford/김뽀뇨.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card25:hover {
  background: url("../img/basford/김뽀뇨.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card25.onair {
  background: url("../img/basford/김뽀뇨.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card26 {
  background: url("../img/basford/나는상윤.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card26:hover {
  background: url("../img/basford/나는상윤.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card26.onair {
  background: url("../img/basford/나는상윤.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card27 {
  background: url("../img/basford/슬돌이.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card27:hover {
  background: url("../img/basford/슬돌이.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card27.onair {
  background: url("../img/basford/슬돌이.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card28 {
  background: url("../img/basford/이경민.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card28:hover {
  background: url("../img/basford/이경민.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card28.onair {
  background: url("../img/basford/이경민.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card29 {
  background: url("../img/basford/보라.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card29:hover {
  background: url("../img/basford/보라.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card29.onair {
  background: url("../img/basford/보라.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card30 {
  background: url("../img/basford/기뉴다.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card30:hover {
  background: url("../img/basford/기뉴다.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card30.onair {
  background: url("../img/basford/기뉴다.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card31 {
  background: url("../img/basford/소룡.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card31:hover {
  background: url("../img/basford/소룡.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card31.onair {
  background: url("../img/basford/소룡.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card32 {
  background: url("../img/basford/재연.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card32:hover {
  background: url("../img/basford/재연.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card32.onair {
  background: url("../img/basford/재연.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card33 {
  background: url("../img/basford/김상곤.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card33:hover {
  background: url("../img/basford/김상곤.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card33.onair {
  background: url("../img/basford/김상곤.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card34 {
  background: url("../img/basford/유영진.png") left center no-repeat;
  background-size: 300px;
  filter: grayscale(1)  brightness(1.5);
  transition-property: background, filter, -webkit-filter;
}
.card34:hover {
  background: url("../img/basford/유영진.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}
.card34.onair {
  background: url("../img/basford/유영진.png") center center no-repeat;
  background-size: 150px;
  filter: grayscale(0);
  transition-property: background, filter, -webkit-filter;
}

.card .c-icon {
	position:absolute;
	left: -10px;
	top: 76px;
	width:64px;
	pointer-events: none;	
}
.card .c-icon:active {
	pointer-events: none;	
}
.card:hover .c-icon {
	position:absolute;
	left: auto;
	right: -10px;
	top: 0;
}
.card.onair .c-icon {
	position:absolute;
	left: auto;
	right: -10px;
	top: 0;
}
.card.onair:hover .c-icon {
	position:absolute;
	left: -10px;
	top: 76px;
}